/ws-web-demo/catalina.base_IS_UNDEFINED
/ws-client/.classpath
/ws-client/.project
/ws-client/.settings/org.eclipse.core.resources.prefs
/ws-client/.settings/org.eclipse.jdt.core.prefs
/ws-client/.settings/org.eclipse.m2e.core.prefs
/ws-client/target/classes/META-INF/MANIFEST.MF
/ws-client/target/classes/META-INF/maven/cn.majingjing.tm/ws-client/pom.properties
/ws-client/target/classes/META-INF/maven/cn.majingjing.tm/ws-client/pom.xml
/ws-client/target/classes/cn/majingjing/tm/ws/client/Client.class
/ws-client/target/classes/cn/majingjing/tm/ws/web/Hello1.class
/ws-client/target/classes/cn/majingjing/tm/ws/web/Hello1Response.class
/ws-client/target/classes/cn/majingjing/tm/ws/web/Hello2.class
/ws-client/target/classes/cn/majingjing/tm/ws/web/Hello2Response.class
/ws-client/target/classes/cn/majingjing/tm/ws/web/HelloApi.class
/ws-client/target/classes/cn/majingjing/tm/ws/web/HelloApiService.class
/ws-client/target/classes/cn/majingjing/tm/ws/web/HelloBean.class
/ws-client/target/classes/cn/majingjing/tm/ws/web/ObjectFactory.class
/ws-client/target/classes/cn/majingjing/tm/ws/web/QueryData.class
/ws-client/target/classes/cn/majingjing/tm/ws/web/QueryDataResponse.class
/ws-client/target/classes/cn/majingjing/tm/ws/web/package-info.class
/ws-web-demo/.classpath
/ws-web-demo/.project
/ws-web-demo/.settings/org.eclipse.core.resources.prefs
/ws-web-demo/.settings/org.eclipse.jdt.core.prefs
/ws-web-demo/.settings/org.eclipse.m2e.core.prefs
/ws-web-demo/.settings/org.eclipse.wst.common.component
/ws-web-demo/.settings/org.eclipse.wst.common.project.facet.core.xml
/ws-web-demo/.settings/org.eclipse.wst.validation.prefs
/ws-web-demo/bin/.project
/ws-web-demo/bin/README.MD
/ws-web-demo/bin/catalina.base_IS_UNDEFINED/logs/sms-test-output.2017-12-28.log
/ws-web-demo/bin/pom.xml
/ws-web-demo/bin/src/main/java/cn/majingjing/tm/ws/web/HelloApi.class
/ws-web-demo/bin/src/main/java/cn/majingjing/tm/ws/web/HelloBean.class
/ws-web-demo/bin/src/main/java/cn/majingjing/tm/ws/web/MySoapHandler.class
/ws-web-demo/bin/src/main/java/cn/majingjing/tm/ws/web/WebServicePublish.class
/ws-web-demo/bin/src/main/resources/logback.xml
/ws-web-demo/bin/src/main/resources/service-handler-chain.xml
/ws-web-demo/bin/src/main/webapp/WEB-INF/sun-jaxws.xml
/ws-web-demo/bin/src/main/webapp/WEB-INF/web.xml
/ws-web-demo/bin/src/main/webapp/index.jsp
/ws-web-demo/bin/target/classes/logback.xml
/ws-web-demo/bin/target/classes/service-handler-chain.xml
/ws-web-demo/target/classes/cn/majingjing/tm/ws/web/HelloApi.class
/ws-web-demo/target/classes/cn/majingjing/tm/ws/web/HelloBean.class
/ws-web-demo/target/classes/cn/majingjing/tm/ws/web/MySoapHandler.class
/ws-web-demo/target/classes/cn/majingjing/tm/ws/web/WebServicePublish.class
/ws-web-demo/target/classes/logback.xml
/ws-web-demo/target/classes/service-handler-chain.xml
/ws-web-demo/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/ws-web-demo/target/m2e-wtp/web-resources/META-INF/maven/cn.majingjing.tm/ws-web-demo/pom.properties
/ws-web-demo/target/m2e-wtp/web-resources/META-INF/maven/cn.majingjing.tm/ws-web-demo/pom.xml
