<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.mycompany.hr"/>

    <sws:annotation-driven/>

    <sws:dynamic-wsdl id="holiday"
                      portTypeName="HumanResource"
                      locationUri="/holidayService/"
                      targetNamespace="http://mycompany.com/hr/definitions">
        <sws:xsd location="/WEB-INF/hr.xsd"/>
    </sws:dynamic-wsdl>

    <sws:dynamic-wsdl id="demo1"
                      portTypeName="demo1Port"
                      locationUri="/demo1Service/"
                      targetNamespace="http://mycompany.com/demo1/definitions">
        <sws:xsd location="/WEB-INF/demo1.xsd"/>
    </sws:dynamic-wsdl>

    <sws:interceptors>
        <bean class="com.mycompany.hr.config.MyPayloadLoggingInterceptor"></bean>
    </sws:interceptors>

    <bean id="exceptionResolver"
          class="org.springframework.ws.soap.server.endpoint.SoapFaultMappingExceptionResolver">
        <property name="defaultFault" value="SERVER"/>
        <property name="exceptionMappings">
            <value>
                org.springframework.oxm.ValidationFailureException=CLIENT,Invalid request
            </value>
        </property>
    </bean>


    <!--<sws:static-wsdl id="holiday" location="/WEB-INF/classes/holiday.wsdl"/>-->

</beans>